#root {
    max-width: 1200px;
    margin: 0 auto;
  }

  html {
    background: url(https://images5.alphacoders.com/725/725049.jpg) center;
    background-size: auto;
  }

  h1 {
    color : #ffc400;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.356);
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    border: 1px solid gray;
    background-color: #ffffff1c;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }